.footer {
	background-color: $color-accent;
	.footer__container {
	padding: 2.5% 10%;
	padding-bottom: 1%;
	@extend %flex-container;
	justify-content: space-between;
		.footer__contact-detail {
			width: 33%;
			text-transform: uppercase;
			@extend %flex-container;
			flex-wrap: nowrap;
			i {
				color: $color-main;
				font-size: 2.5rem;
			}
			p {
				display: inline-block;
				color: $color-main;
				font-size: 0.75rem;
			}
			.contact-detail__adress {
				p {
					width: 100%;
					color: white;
				}
			}
			.contact-detail__phone {
				color: white;
				font-size: 1rem;
			}
			a {
				@extend %transition-basic;
				color: white;
				&:hover {
					color: $color-main;
				}
			}
		}
	}
	.footer__socials {
		padding-bottom: 2.5%;
		text-align: center;
		a {
			@extend %transition-basic;
			display: inline-block;
			font-size: 2rem;
			&:hover {
				color: white;
			}
		}
	}
} 

@media (max-width: 720px) {
	.footer{
		margin-bottom: 5%;
		.footer__container {
			.footer__contact-detail {
				width: 100%;
				text-align: center;
				flex-wrap: wrap;
				i {
					font-size: 0.75rem;
					width: 100%;
				}
				p {
					font-size: 0.75rem;
					display: block;
				}
				.contact-detail__phone {
					font-size: 0.75rem;
				}	
			}
		}
		.footer__socials {
			padding-top: 5%;
			a {
				font-size: 1.5rem;
			}
		}
	}
} 
