.main-ourproducts {
	background-color: $color-accent;
	.main-ourproducts__container {
		padding: 5% 10%;
		.main-ourproducts__title {
			color: white;
			font-weight: 700;
			font-size: 3.5rem;
			width: 100%;
			padding-bottom: 5%;
		}
		.main-ourproducts__feature {
			width: 48%;
			display: inline-block;
			margin-bottom: 2.5%;
			.feature__number {
			    width: 24%;
				display: inline-block;
				vertical-align: top;
				p {
					@extend %flex-container;
					background-color: $color-main;
					border: 2px solid $color-main;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					color: white;
					font-size: 2.5rem;
				}
			}
			.feature__text {
				width: 74%;
				vertical-align: top;
				display: inline-block;
				.text__title {
					color: white;
					font-size: 2rem;
					padding-bottom: 2.5%;
				}
				.text__description {
					@extend %text-line-height;
					color: $color-main;
				}
				
			}
			&:nth-child(even) {
				margin-right: 2%;
			}
		}
	}
}	

@media (max-width: 1150px) {
	.main-ourproducts {
		.main-ourproducts__container {
			.main-ourproducts__feature {
				.feature__number {
					width: 100%;
					top: 0;
					transform: none;
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.main-ourproducts {
		.main-ourproducts__container {
			justify-content: center;
			.main-ourproducts__title {
				font-size: 1.5rem;
			}
			.main-ourproducts__feature {
				justify-content: center;
				width: 100%;
				.feature__number {
					width: 100%;
					padding-bottom: 2.5%;
					top: 0;
					transform: none;
					p {	
						width: 50px;
						height: 50px;
						font-size: 1rem;
					}
				}
				.feature__text {
					width: 100%;
					.text__title {
						font-size: 1rem;
					}
					.text__description {
						font-size: 14px;
					}
				}
			}
		}
	}	
}